@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Global */

  * {
    @apply transition-all duration-500;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-ubuntu 
         bg-grey-light text-black 
         dark:bg-black dark:text-grey;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply capitalize font-bold;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  input {
    outline: none;
    @apply border-none;
  }

  input:focus, 
  textarea:focus {
    outline: none;
  }

  .brd {
    @apply border-solid border-black dark:border-grey-dark;
  }

  .btn {
    @apply py-2 px-4 border-solid border
           transition-all duration-500;
  }

  .icon {
    @apply cursor-pointer h-10 w-10 p-2
           rounded-full fill-grey-dark hover:fill-black
           dark:hover:fill-grey
           transition-all duration-500;
  }

  /* Buttons */

  .btn {
    @apply py-2 px-4 border-solid border
           transition-all duration-500;
  }

  .neutral-btn {
    @apply border-grey-dark bg-grey-light text-grey-dark
           dark:border-grey-dark dark:bg-black
           hover:text-black hover:bg-white hover:border-black
           dark:hover:text-grey-light dark:hover:border-grey-light;
  }

  .neutral-active {
    @apply text-black dark:text-grey-light border-black dark:border-grey-light;
  }

  .green-btn {
    @apply border-black bg-black text-grey-light 
           dark:border-grey-dark dark:bg-black-dark
           hover:text-black hover:bg-green
           dark:hover:text-black dark:hover:bg-green dark:hover:border-black-dark;
  }

  .pink-btn {
    @apply border-black bg-black text-grey-light 
           dark:border-grey-dark dark:bg-black-dark
           hover:text-black hover:bg-pink
           dark:hover:text-black dark:hover:bg-pink dark:hover:border-black-dark;
  }


  /* Dropdown */

  .dd-wrapper {
    @apply relative cursor-pointer 
         bg-white dark:bg-black dark:border-grey-dark;
  }

  .dd-close > .dd-list {
    @apply opacity-0 invisible;
  }

  .dd-close > .dd-title > svg {
    @apply rotate-0;
  }

  .dd-title {
    @apply flex justify-between items-center space-x-2 capitalize;
  }

  .dd-title > svg {
    @apply h-6 w-6 rotate-180 transition-all duration-300;
  }

  .dd-list {
    @apply absolute top-full left-0 -translate-x-[1px] overflow-scroll
           w-[calc(100%+2px)] max-h-[calc(100%*4+8px)] space-y-2 duration-300
           border-solid border bg-white
           dark:bg-black dark:border-grey-dark z-50;
  }

  .dd-item {
    @apply transition-all duration-500;
  }

  .dd-selected-item {
    @apply flex items-center px-1 text-black bg-blue rounded-md;
  }

  .dd-selected-item-remove {
    @apply h-6 w-6 ml-1 px-1;
  }


  /* Add Image */

  .add-img {
    @apply relative w-[400px]
           border-solid border border-black dark:border-grey-dark;
  }

  .add-img-img {
    @apply h-auto w-full;
  }

  .add-img-btn {
    @apply flex space-x-4 items-center justify-center min-h-[220px]
           cursor-pointer text-xl hover:text-blue
           border-solid border border-black dark:border-grey-dark;
  }

  .add-img-btn > input {
    @apply hidden;
  }

  .add-img-btn > svg {
    @apply h-8 w-8;
  }

  .add-img-selected {
    @apply absolute bottom-0 right-0 min-h-0 space-x-0 p-4 border-none;
  }


  .auth-btn {
    @apply border-black bg-black text-grey-light 
           dark:border-grey-dark dark:bg-black-dark
           hover:text-black hover:bg-green
           dark:hover:text-black dark:hover:bg-green dark:hover:border-black-dark;
  }

  .logout-btn {
    @apply text-red;
  }

  /* Signin / Register */

  .auth {
    @apply h-full w-full fixed cursor-pointer bg-black-dark bg-opacity-50 
           transition-all duration-300 z-20;
  }

  .auth-modal-close {
    @apply opacity-0 invisible;
  }

  .auth-modal {
    @apply fixed mx-0 z-40 cursor-default
           top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2
           border-solid border border-black bg-white 
         dark:border-grey-dark dark:bg-black-dark;
  }
  
  .change-auth-btn {
    @apply ml-2 text-black dark:text-grey-light;
  }
  
  .auth-close {
    @apply absolute top-0 right-0 cursor-pointer;
  }

  .auth-close > svg {
    @apply h-10 w-10 p-2 fill-grey-dark transition-all duration-500;
  }

  .auth-close:hover > svg {
    @apply fill-red dark:fill-red;
  }

  .login,
  .register {
    @apply flex;
  }
  
  .login-right > h2,
  .register-right > h2 {
    @apply text-2xl capitalize;
  }

  .login-right,
  .register-right {
    @apply flex flex-col items-center space-y-6 p-14 w-[450px];
  }

  .login-left,
  .register-left {
    @apply h-auto w-[450px] bg-no-repeat bg-cover bg-center
           border-black border-r
           dark:bg-black-dark dark:border-grey-dark;
  }
  
  .form {
    @apply w-80 flex flex-col items-center space-y-6 mb-6;
  }
  
  .form > input {
    @apply bg-grey-light border-grey-dark focus:border-black
           dark:bg-black dark:border-grey-dark dark:focus:border-grey;
  }
  
  .form > .submit {
    @apply cursor-pointer capitalize w-min
           border-black bg-black text-grey-light 
           dark:border-grey-dark dark:bg-black-dark
           hover:text-black hover:bg-green
           dark:hover:text-black dark:hover:bg-green dark:hover:border-black-dark;
         
  }
  
  .form-err-name > .name {
    @apply border-red;
  }
  
  .form-err-email > .email {
    @apply border-red;
  }
  
  .form-err-password > .password {
    @apply border-red;
  }
  
  .form-err-name-email > .name,
  .form-err-name-email > .email {
    @apply border-red;
  }
  
  .form-err-name-password > .name,
  .form-err-name-password > .password {
    @apply border-red;
  }
  
  .form-err-email-password > .email, 
  .form-err-email-password > .password {
    @apply border-red;
  }
  
  .form-err-name-email-password > .name,
  .form-err-name-email-password > .email,
  .form-err-name-email-password > .password {
    @apply border-red;
  }


  /* Hero */

  .hero {
    @apply h-[90vh] w-full relative 
           border-black border-b
           dark:bg-black-dark dark:border-grey-dark;
  }

  .hero-bg {
    @apply h-full w-full bg-no-repeat bg-cover bg-center;
  }

  .hero-content {
    @apply absolute text-center space-y-2 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 text-black;
  }


  /* Post Card */

  .post-card-img {
    @apply w-52 min-h-[120px] h-full;
  }


  /* Post */

  .post-content > h2,
  .post-content > h3 {
    @apply mt-8 mb-4;
  }


  .post-comment {
    @apply resize-none h-24 w-full p-4 border-solid border-b border-t border-l
         bg-grey-light border-black dark:bg-black dark:border-grey-dark 
           transition-all duration-500;
  }

  .post-comments {
    @apply w-full my-8 space-y-2
           border-solid border border-black dark:border-grey-dark;
  }

  .post-comment-card {
    @apply flex flex-col justify-between p-4 space-y-1;
  }

  .post-comment-card:not(:last-child) {
    @apply border-solid border-b border-black dark:border-grey-dark;
  }

  .post-comment-info {
    @apply flex justify-between items-center space-x-8 capitalize text-grey-dark;
  }



  /* Edit Post */

  .post-edit {
    @apply w-2/3 my-20 py-8 px-6 space-y-8
           border-solid border border-black dark:border-grey-dark;
  }

  .post-editor-header {
    @apply flex justify-between items-center space-x-4;
  }

  .post-editor-header-right {
    @apply w-1/2 flex flex-col justify-between space-y-6 p-4;
  }

  .post-editor-header-title {
    @apply space-y-4;
  }

  .post-editor-save-btn {
    @apply border-black bg-black text-grey-light 
           dark:border-grey-dark dark:bg-black-dark
           hover:text-black hover:bg-pink
           dark:hover:text-black dark:hover:bg-pink dark:hover:border-black-dark;
  }

  .post-editor-options {
    @apply flex justify-between items-center space-x-8;
  }

  .post-editor-title {
    @apply w-full bg-white border-grey-dark focus:border-black
          dark:bg-black-dark dark:border-grey-dark dark:focus:border-grey;
  }

  .rdw-editor-toolbar.post-editor-toolbar {
    @apply p-4 m-0 bg-white dark:bg-black-dark
           border-solid border border-black dark:border-grey-dark;
  }

  .rdw-editor-toolbar.post-editor-toolbar .rdw-option-wrapper {
    @apply h-8 px-4;
  }

  .rdw-editor-toolbar.post-editor-toolbar .rdw-dropdown-wrapper {
    @apply h-8 w-28;
  }

  .rdw-option-wrapper.post-editor-toolbar-icon {
    @apply  border-solid border border-grey-dark;
  }

  .post-editor-block {
    @apply p-4 min-h-[400px]
           border-solid border-b border-x border-black dark:border-grey-dark;
  }


}